Repository silva4dev/rails-credi-shop-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run erb:fix, npm run style:fix, npm run md:fix, npm run json:fix, npm run ruby:fix

.lintstagedrc:

{
  "app/views/**/*.html.erb": ["npm run erb:fix"],
  "**/**/*.{scss,css}": ["npm run style:fix"],
  "**/**/*.md": ["npm run md:fix"],
  "**/**/*.json": ["npm run json:fix"],
  "**/**/*.rb": ["npm run ruby:fix"]
}

feat: add channels
  app/modules/sessions/infrastructure/channels/application_cable/channel.rb
  app/modules/sessions/infrastructure/channels/application_cable/connection.rb
Due: npm run ruby:fix

feat: add application helper
  app/modules/sessions/infrastructure/helpers/application_helper.rb
Due: npm run ruby:fix

feat: add application job
  app/modules/sessions/infrastructure/jobs/application_job.rb
Due: npm run ruby:fix

feat: add application mailer
  app/modules/sessions/infrastructure/mailers/application_mailer.rb
Due: npm run ruby:fix

feat: add applicaiton record
  app/modules/sessions/infrastructure/models/application_record.rb
Due: npm run ruby:fix

feat: add current
  app/modules/sessions/infrastructure/models/current.rb
Due: npm run ruby:fix

feat: add user model
  app/modules/sessions/infrastructure/models/user.rb
Due: npm run ruby:fix

feat: add logout
  app/views/layouts/application.html.erb
Due: npm run erb:fix

feat: add proponents filter by salary range
  app/views/proponents/index.html.erb
Due: npm run erb:fix

feat: add login page
  app/views/sessions/login/new.html.erb
Due: npm run erb:fix

feat: add registrations page
  app/views/sessions/registrations/new.html.erb
Due: npm run erb:fix

feat: add sessions routes
  config/routes.rb
Due: npm run ruby:fix

feat: add sessions
  config/locales/pt-BR/models.yml
Due: none

feat: add users migration
  db/migrate/20240415191830_create_users.rb
  db/schema.rb
Due: npm run ruby:fix

feat: add sessions to access proponents
  spec/modules/proponents/application/controllers/proponents_controller_spec.rb
Due: npm run ruby:fix

test: add proponents query
  spec/modules/proponents/infrastructure/queries/proponents_query_spec.rb
Due: npm run ruby:fix

test: add proponents use case
  spec/modules/proponents/application/usecases/proponents_usecase_spec.rb
Due: npm run ruby:fix

chore: add git commit msg linter
  package.json
  pnpm-lock.yaml
Due: npm run json:fix

refactor: change npm to pnpm
  .lintstagedrc
Due: none

chore: add pre push
  .husky/pre-push
Due: none

chore: add pre commit
  .husky/pre-commit
Due: none

chore: add Dockerfile
  Dockerfile
Due: none

chore: add docker compose
  docker-compose.yml
Due: none

chore: add hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: add docker entrypoint
  entrypoints/docker-entrypoint.sh
Due: none

chore: add rules
  .eslintrc.json
Due: npm run json:fix

feat: add validations in proponent form
  app/assets/entrypoints/javascripts/controllers/index.ts
  app/assets/entrypoints/javascripts/controllers/proponent_form_controller.ts
  app/assets/entrypoints/javascripts/controllers/proponents_form_controller.ts
  app/views/proponents/_form.html.erb
  tsconfig.json
Due: npm run erb:fix, npm run json:fix

chore: add rules
  .rubocop.yml
Due: none

chore: merge with main branch
  .husky/pre-commit
  .lintstagedrc
  Rakefile
  app/assets/entrypoints/application.ts
  app/assets/entrypoints/javascripts/controllers/application.ts
  app/modules/proponents/application/usecases/proponents_usecase.rb
  app/modules/proponents/domain/repositories/proponents_repository_if.rb
  app/modules/proponents/infrastructure/repositories/proponents_repository.rb
  app/modules/sessions/application/commands/create_user_command.rb
  app/modules/sessions/application/controllers/logins_controller.rb
  app/modules/sessions/application/controllers/registrations_controller.rb
  app/modules/sessions/application/usecases/sessions_usecase.rb
  app/modules/sessions/domain/models/user.rb
  app/modules/sessions/domain/repositories/sessions_repository_if.rb
  app/modules/sessions/domain/usecases/sessions_usecase_if.rb
  app/modules/sessions/infrastructure/repositories/sessions_repository.rb
  app/views/layouts/application.html.erb
  app/views/proponents/_form.html.erb
  app/views/proponents/edit.html.erb
  app/views/proponents/index.html.erb
  app/views/proponents/new.html.erb
  config.ru
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/importmap.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  package.json
  spec/modules/proponents/infrastructure/repositories/proponents_repository_spec.rb
  vite.config.ts
Due: npm run erb:fix, npm run json:fix, npm run ruby:fix

chore: merge with main branch
  .eslintignore
  .lintstagedrc
  .stylelintignore
  app/assets/entrypoints/application.ts
  app/assets/entrypoints/javascripts/controllers/application.ts
  app/assets/entrypoints/javascripts/controllers/index.ts
  app/assets/entrypoints/javascripts/controllers/proponent_form_controller.ts
  app/modules/sessions/infrastructure/models/user.rb
  package.json
  vite.config.ts
Due: npm run json:fix, npm run ruby:fix

chore: merge with main branch
  .lintstagedrc
Due: none

chore: merge with main branch
  .env.example
  .env.test
  .gitignore
  .rubocop.yml
  .stylelintignore
  Dockerfile
  Gemfile
  Gemfile.lock
  Procfile.dev
  README.md
  app/assets/entrypoints/javascripts/controllers/index.ts
  app/assets/entrypoints/javascripts/controllers/proponent_chart_controller.ts
  app/assets/entrypoints/javascripts/controllers/proponent_form_controller.ts
  app/modules/proponents/application/commands/create_proponent_command.rb
  app/modules/proponents/application/commands/update_proponent_command.rb
  app/modules/proponents/application/controllers/proponents_controller.rb
  app/modules/proponents/application/usecases/proponents_usecase.rb
  app/modules/proponents/domain/models/proponent.rb
  app/modules/proponents/domain/repositories/proponents_repository_if.rb
  app/modules/proponents/domain/usecases/proponents_usecase_if.rb
  app/modules/proponents/infrastructure/jobs/update_salaries_job.rb
  app/modules/proponents/infrastructure/repositories/proponents_repository.rb
  app/modules/proponents/infrastructure/workers/update_salary_worker.rb
  app/views/layouts/application.html.erb
  app/views/proponents/_form.html.erb
  app/views/proponents/_proponent.html.erb
  app/views/proponents/index.html.erb
  config/application.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/sidekiq.rb
  config/locales/pt-BR/models.yml
  config/routes.rb
  config/sidekiq.yml
  docker-compose.yml
  entrypoints/docker-entrypoint.sh
  spec/modules/proponents/application/usecases/proponents_usecase_spec.rb
  spec/modules/proponents/infrastructure/repositories/proponents_repository_spec.rb
  spec/modules/proponents/infrastructure/workers/update_salary_worker_spec.rb
Due: npm run erb:fix, npm run md:fix, npm run ruby:fix

chore: merge with main branch
  .env.example
  .env.test
  .gitignore
  Dockerfile
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  docker-compose.yml
  entrypoints/docker-entrypoint.sh
Due: none

refactor: move query to constructor
  app/modules/proponents/application/usecases/proponents_usecase.rb
Due: npm run ruby:fix
