Repository silva4dev/rails-credi-shop-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run erb:fix, npm run style:fix, npm run md:fix, npm run json:fix, npm run ruby:fix

chore: add npmrc
  .npmrc
Due: none

chore: add rspec
  .rspec
Due: none

chore: add rubocop
  .rubocop.yml
Due: none

chore: add ruby version
  .ruby-version
Due: none

chore: add stylelint ignore
  .stylelintignore
Due: none

chore: add stylelintrc
  .stylelintrc
Due: none

chore: add config
  config.ru
Due: none

chore: add Dockerfile
  Dockerfile
Due: none

chore: add Gemfile
  Gemfile
  Gemfile.lock
Due: none

chore: add license
  LICENSE
Due: none

chore: add package
  package.json
  pnpm-lock.yaml
Due: npm run json:fix

chore: add Procfile dev
  Procfile.dev
Due: none

chore: add Rakefile
  Rakefile
Due: none

chore: add tsconfig
  tsconfig.json
Due: npm run json:fix

chore: add vite config
  vite.config.ts
Due: none

chore: add husky
  .husky/pre-commit
Due: none

feat: add manifest
  app/assets/config/manifest.js
Due: none

feat: add application scss
  app/assets/entrypoints/application.scss
Due: npm run style:fix

feat: add application ts
  app/assets/entrypoints/application.ts
Due: none

feat: add scripts
  app/assets/entrypoints/javascripts/controllers/application.ts
  app/assets/entrypoints/javascripts/controllers/index.ts
  app/assets/entrypoints/javascripts/controllers/proponents_form_controller.ts
Due: none

feat: add logo
  app/assets/images/logo.png
Due: none

feat: add application controller
  app/modules/proponents/application/controllers/application_controller.rb
Due: npm run ruby:fix

feat: add proponents controller
  app/modules/proponents/application/controllers/proponents_controller.rb
Due: npm run ruby:fix

chore: add .keep
  app/modules/proponents/application/controllers/concerns/.keep
Due: none

feat: add proponents usecase
  app/modules/proponents/application/usecases/proponents_usecase.rb
Due: npm run ruby:fix

feat: add phone model
  app/modules/proponents/domain/models/phone.rb
Due: npm run ruby:fix

feat: add proponent model
  app/modules/proponents/domain/models/proponent.rb
Due: npm run ruby:fix

feat: add proponents query interface
  app/modules/proponents/domain/queries/proponents_query_if.rb
Due: npm run ruby:fix

feat: add proponents repository interface
  app/modules/proponents/domain/repositories/proponents_repository_if.rb
Due: npm run ruby:fix

feat: add proponents usecase interface
  app/modules/proponents/domain/usecases/proponents_usecase_if.rb
Due: npm run ruby:fix

feat: add address value object
  app/modules/proponents/domain/value_objects/address.rb
Due: npm run ruby:fix

feat: add channels
  app/modules/proponents/infrastructure/channels/application_cable/channel.rb
  app/modules/proponents/infrastructure/channels/application_cable/connection.rb
Due: npm run ruby:fix

feat: add application helper
  app/modules/proponents/infrastructure/helpers/application_helper.rb
Due: npm run ruby:fix

feat: add application job
  app/modules/proponents/infrastructure/jobs/application_job.rb
Due: npm run ruby:fix

feat: add update salaries job
  app/modules/proponents/infrastructure/jobs/update_salaries_job.rb
Due: npm run ruby:fix

feat: add application mailer
  app/modules/proponents/infrastructure/mailers/application_mailer.rb
Due: npm run ruby:fix

feat: add address model
  app/modules/proponents/infrastructure/models/address.rb
Due: npm run ruby:fix

feat: add application record
  app/modules/proponents/infrastructure/models/application_record.rb
Due: npm run ruby:fix

feat: add phone model
  app/modules/proponents/infrastructure/models/phone.rb
Due: npm run ruby:fix

feat: add proponent model
  app/modules/proponents/infrastructure/models/proponent.rb
Due: npm run ruby:fix

Path conditions:
  npm run erb:fix: any of: app/views/**/*.html.erb
  npm run style:fix: any of: **/**/*.{scss,css}
  npm run md:fix: any of: **/**/*.md
  npm run json:fix: any of: **/**/*.json
  npm run ruby:fix: any of: **/**/*.rb
