Repository silva4dev/rails-credi-shop-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run erb:fix, npm run style:fix, npm run md:fix, npm run json:fix, npm run ruby:fix

.lintstagedrc:

{
  "app/views/**/*.html.erb": ["npm run erb:fix"],
  "**/**/*.{scss,css}": ["npm run style:fix"],
  "**/**/*.md": ["npm run md:fix"],
  "**/**/*.json": ["npm run json:fix"],
  "**/**/*.rb": ["npm run ruby:fix"]
}

chore: add .keep
  app/modules/proponents/infrastructure/models/concerns/.keep
Due: none

feat: add proponents query
  app/modules/proponents/infrastructure/queries/proponents_query.rb
Due: npm run ruby:fix

feat: add proponents repository
  app/modules/proponents/infrastructure/repositories/proponents_repository.rb
Due: npm run ruby:fix

feat: add kaminari
  app/views/kaminari/twitter-bootstrap-4/_first_page.html.erb
  app/views/kaminari/twitter-bootstrap-4/_gap.html.erb
  app/views/kaminari/twitter-bootstrap-4/_last_page.html.erb
  app/views/kaminari/twitter-bootstrap-4/_next_page.html.erb
  app/views/kaminari/twitter-bootstrap-4/_page.html.erb
  app/views/kaminari/twitter-bootstrap-4/_paginator.html.erb
  app/views/kaminari/twitter-bootstrap-4/_prev_page.html.erb
Due: npm run erb:fix

feat: add mailers and application
  app/views/layouts/application.html.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
Due: npm run erb:fix

feat: add proponents page
  app/views/proponents/index.html.erb
  app/views/proponents/new.html.erb
Due: npm run erb:fix

feat: add bin
  bin/bundle
  bin/dev
  bin/docker-entrypoint
  bin/importmap
  bin/rails
  bin/rake
  bin/setup
Due: none

feat: add configs
  config/application.rb
  config/boot.rb
  config/cable.yml
  config/credentials.yml.enc
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/importmap.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/initializers/simple_form.rb
  config/locales/en/en.yml
  config/locales/en/simple_form.en.yml
  config/locales/pt-BR/models.yml
  config/locales/pt-BR/pt-br.yml
  config/puma.rb
  config/routes.rb
  config/storage.yml
  config/vite.json
Due: npm run json:fix, npm run ruby:fix

feat: add schema
  db/schema.rb
Due: npm run ruby:fix

feat: add seeds
  db/seeds.rb
Due: npm run ruby:fix

feat: add migrations
  db/migrate/20240412042952_create_proponents.rb
  db/migrate/20240412043053_create_addresses.rb
  db/migrate/20240412043124_create_phones.rb
Due: npm run ruby:fix

chore: add .keep
  lib/assets/.keep
  lib/tasks/.keep
  log/.keep
  storage/.keep
  tmp/.keep
  tmp/pids/.keep
  tmp/storage/.keep
  vendor/.keep
  vendor/javascript/.keep
Due: none

feat: add form
  lib/templates/erb/scaffold/_form.html.erb
Due: none

feat: add files into public
  public/404.html
  public/422.html
  public/500.html
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/robots.txt
Due: none

feat: add rails helper
  spec/rails_helper.rb
Due: npm run ruby:fix

feat: add spec helper
  spec/spec_helper.rb
Due: npm run ruby:fix

refactor: ensure remove block unnecessary
  app/modules/proponents/application/controllers/proponents_controller.rb
Due: npm run ruby:fix

feat: add create proponent command
  app/modules/proponents/application/commands/create_proponent_command.rb
Due: npm run ruby:fix

feat: add destroy proponent command
  app/modules/proponents/application/commands/destroy_proponent_command.rb
Due: npm run ruby:fix

feat: add destroy proponent command
  app/modules/proponents/application/commands/update_proponent_command.rb
Due: npm run ruby:fix

feat: add proponents controller
  app/modules/proponents/application/controllers/proponents_controller.rb
Due: npm run ruby:fix

feat: add proponents use case
  app/modules/proponents/application/usecases/proponents_usecase.rb
Due: npm run ruby:fix

feat: add phone model
  app/modules/proponents/domain/models/phone.rb
Due: npm run ruby:fix

feat: add proponent model
  app/modules/proponents/domain/models/proponent.rb
Due: npm run ruby:fix

feat: add proponents query interface
  app/modules/proponents/domain/queries/proponents_query_if.rb
Due: npm run ruby:fix

feat: add proponents repository interface
  app/modules/proponents/domain/repositories/proponents_repository_if.rb
Due: npm run ruby:fix

feat: add proponents usecase interface
  app/modules/proponents/domain/usecases/proponents_usecase_if.rb
Due: npm run ruby:fix

feat: add address value object
  app/modules/proponents/domain/value_objects/address.rb
Due: npm run ruby:fix

feat: add address model
  app/modules/proponents/infrastructure/models/address.rb
Due: npm run ruby:fix

feat: add phone model
  app/modules/proponents/infrastructure/models/phone.rb
Due: npm run ruby:fix

feat: add proponent model
  app/modules/proponents/infrastructure/models/proponent.rb
Due: npm run ruby:fix

refactor: change application layout
  app/views/layouts/application.html.erb
Due: npm run erb:fix

feat: add form proponents
  app/views/proponents/_form.html.erb
Due: npm run erb:fix

feat: add edit page
  app/views/proponents/edit.html.erb
Due: npm run erb:fix

feat: add new page
  app/views/proponents/new.html.erb
Due: npm run erb:fix

feat: add index page
  app/views/proponents/index.html.erb
Due: npm run erb:fix

refactor: remove routes unnecessaries
  config/routes.rb
Due: npm run ruby:fix

refactor: remove configs unnecessaries
  config/initializers/simple_form.rb
Due: npm run ruby:fix
